{% if messages %}
  <div class="flex justify-center mt-4">
    <div id="popup-alert" class="alert font-medium text-center {{ alert_class }}">
      {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
      {% endfor %}
    </div>
  </div>
  <script>
    setTimeout(() => {
      const alertBox = document.getElementById('popup-alert');
      if (alertBox) {
        alertBox.classList.add('opacity-0', 'transition-opacity', 'duration-500');
        setTimeout(() => alertBox.style.display = 'none', 500);
      }
    }, 5000);
  </script>
{% endif %}