# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Environment
.env
.env.temp
__pycache__/
*.pyc

# But allow encrypted env
!.env.gpg

# Django
db.sqlite3
media/

# IDE
.vscode/
.idea/
*.swp
*.swo