{% extends 'dashboard/base_dashboard.html' %}
{%load widget_tweaks%}
{% block content %}

<div class="container mx-auto px-6">
  <!-- Page Header -->
  <div class="text-center mb-8">
    <h2 class="text-3xl font-semibold text-white">Clockify Reports</h2>
    <p class="text-base text-gray-700 mt-2">Overview of users, projects, and time entries</p>
  </div>

  <!-- Table Section -->
  <div class="bg-base-200 rounded-lg shadow-lg p-6 overflow-x-auto">
    <table class="table table-zebra w-full">
      <thead class="bg-base-300 text-base font-semibold">
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>Workspace</th>
          <th>Project</th>
          <th>Project Type</th>
          <th>Description</th>
          <th>Duration</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        {% for entry in unique_entries %}
            <tr>
            <td>{{ entry.user.name }}</td>
            <td>{{ entry.user.email }}</td>
            <td>{{ entry.project.workspace.name }}</td>
            <td>{{ entry.duration }}</td>
            <td>{{ entry.start_time|date:"Y-m-d" }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
